
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Home/Index.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">

    <title>Document</title>

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        :root {
            --main-color: #027581;
            --color-dark: #1D2231;
            --text-grey: #8390A2;
        }

        * {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style-type: none;
            box-sizing: border-box;
        }

        #sidebar-toggle {
            display: none;
        }

        .sidebar {
            height: 100%;
            width: 240px;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 100;
            background: var(--main-color);
            color: #fff;
            overflow-y: auto;
            transition: width 500ms;
        }

        .sidebar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            padding: 0rem 1rem;
        }

        .sidebar-menu {
            padding: 1rem;
        }

        .sidebar li {
            margin-bottom: 1.5rem;
        }

        .sidebar a {
            color: #fff;
            font-size: .8rem;
        }

            .sidebar a span:last-child {
                padding-left: .6rem;
            }

        #sidebar-toggle:checked ~ .sidebar {
            width: 60px;
        }

            #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
            #sidebar-toggle:checked ~ .sidebar li span:last-child {
                display: none;
            }

            #sidebar-toggle:checked ~ .sidebar .sidebar-header,
            #sidebar-toggle:checked ~ .sidebar li {
                display: flex;
                justify-content: center;
            }

        #sidebar-toggle:checked ~ .main-content {
            margin-left: 60px;
        }

            #sidebar-toggle:checked ~ .main-content header {
                left: 60px;
                width: calc(100% - 60px);
            }

        .main-content {
            position: relative;
            margin-left: 240px;
            transition: margin-left 500ms;
        }

        header {
            position: fixed;
            left: 240px;
            top: 0;
            z-index: 100;
            width: calc(100% - 240px);
            background: #fff;
            height: 60px;
            padding: 0rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            transition: left 500ms;
        }

        .search-wrapper {
            display: flex;
            align-items: center;
        }

            .search-wrapper input {
                border: 0;
                outline: 0;
                padding: 1rem;
                height: 38px;
            }

        .social-icons {
            display: flex;
            align-items: center;
        }

            .social-icons span,
            .social-icons div {
                margin-left: 1.2rem;
            }

            .social-icons div {
                height: 38px;
                width: 38px;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(img/1.jpg);
                border-radius: 50%;
            }

        main {
            margin-top: 60px;
            background: #f1f5f9;
            min-height: 90vh;
            padding: 1rem 3rem;
        }

        .dash-title {
            color: var(--color-dark);
            margin-bottom: 1rem;
        }

        .dash-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 3rem;
        }

        .card-single {
            background: #fff;
            border-radius: 7px;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        }

        .card-body {
            padding: 1.3rem 1rem;
            display: flex;
            align-items: center;
        }

            .card-body span {
                font-size: 1.5rem;
                color: #777;
                padding-right: 1.4rem;
            }

            .card-body h5 {
                color: var(--text-grey);
                font-size: 1rem;
            }

            .card-body h4 {
                color: var(--color-dark);
                font-size: 1.1rem;
                margin-top: .2rem;
            }

        .card-footer {
            padding: .2rem 1rem;
            background: #f9fafc;
        }

            .card-footer a {
                color: var(--main-color);
            }

        .recent {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        .activity-grid {
            display: grid;
            grid-template-columns: 75% 25%;
            grid-column-gap: 1.5rem;
        }

        .activity-card,
        .summary-card,
        .bday-card {
            background: #fff;
            border-radius: 7px;
        }

            .activity-card h3 {
                color: var(--text-grey);
                margin: 1rem;
            }

            .activity-card table {
                width: 100%;
                border-collapse: collapse;
            }

            .activity-card thead {
                background: #efefef;
                text-align: left;
            }

        th, td {
            font-size: .9rem;
            padding: 1rem 1rem;
            color: var(--color-dark);
        }

        td {
            font-size: .8rem;
        }

        tbody tr:nth-child(even) {
            background: #f9fafc;
        }

        .badge {
            padding: .2rem 1rem;
            border-radius: 20px;
            font-weight: 700;
            font-size: .7rem;
        }

            .badge.success {
                background: #DEF7EC;
                color: var(--main-color);
            }

            .badge.warning {
                background: #F0F6B2;
                color: orange;
            }

        .td-team {
            display: flex;
            align-items: center;
        }

        .img-1,
        .img-2,
        .img-3 {
            height: 38px;
            width: 38px;
            border-radius: 50%;
            margin-left: -15px;
            border: 3px solid #efefef;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .img-1 {
            background-image: url(img/1.jpg);
        }

        .img-2 {
            background-image: url(img/2.jpg);
        }

        .img-3 {
            background-image: url(img/3.jpeg);
        }

        .summary-card {
            margin-bottom: 1.5rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        .summary-single {
            padding: .5rem 1rem;
            display: flex;
            align-items: center;
        }

            .summary-single span {
                font-size: 1.5rem;
                color: #777;
                padding-right: 1rem;
            }

            .summary-single h5 {
                color: var(--main-color);
                font-size: 1.1rem;
                margin-bottom: 0rem !important;
            }

            .summary-single small {
                font-weight: 700;
                color: var(--text-grey);
            }

        .bday-flex {
            display: flex;
            align-items: center;
            margin-bottom: .3rem;
        }

        .bday-card {
            padding: 1rem;
        }

        .bday-img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 3px solid #efefef;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(img/3.jpeg);
            margin-right: .7rem;
        }

        .text-center {
            text-align: center;
        }

            .text-center button {
                background: var(--main-color);
                color: #fff;
                border: 1px solid var(--main-color);
                border-radius: 4px;
                padding: .4rem 1rem;
            }

        .table-responsive {
            overflow-x: auto;
        }

        @@media only screen and (max-width: 1200px) {
            .sidebar {
                width: 60px;
                z-index: 150;
            }

                .sidebar .sidebar-header h3 span,
                .sidebar li span:last-child {
                    display: none;
                }

                .sidebar .sidebar-header,
                .sidebar li {
                    display: flex;
                    justify-content: center;
                }

            .main-content {
                margin-left: 60px;
            }

                .main-content header {
                    left: 60px;
                    width: calc(100% - 60px);
                }

            #sidebar-toggle:checked ~ .sidebar {
                width: 240px;
            }

                #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
                #sidebar-toggle:checked ~ .sidebar li span:last-child {
                    display: inline;
                }

                #sidebar-toggle:checked ~ .sidebar .sidebar-header {
                    display: flex;
                    justify-content: space-between;
                }

                #sidebar-toggle:checked ~ .sidebar li {
                    display: block;
                }

            #sidebar-toggle:checked ~ .main-content {
                margin-left: 60px;
            }

                #sidebar-toggle:checked ~ .main-content header {
                    left: 60px;
                }
        }

        @@media only screen and (max-width: 860px) {
            .dash-cards {
                grid-template-columns: repeat(2,1fr);
            }

            .card-single {
                margin-bottom: 1rem;
            }

            .activity-grid {
                display: block;
            }

            .summary {
                margin-top: 1.5rem;
            }
        }

        @@media only screen and (max-width: 600px) {
            .dash-cards {
                grid-template-columns: 100%;
            }
        }

        @@media only screen and (max-width: 450px) {
            main {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    </style>
</head>
<body>
    <div class="main-content">

        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Search">
            </div>

            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
        </header>

        <main>

            <h2 class="dash-title">Overview</h2>

            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-briefcase"></span>
                        <div>
                            <h5>Account Balance</h5>
                            <h4>$30,659.45</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">View all</a>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-reload"></span>
                        <div>
                            <h5>Pending</h5>
                            <h4>$19,500.45</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">View all</a>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Processed</h5>
                            <h4>$20,659</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">View all</a>
                    </div>
                </div>
            </div>


            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card">
                        <h3>Recent activity</h3>

                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Team</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>App Development</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td class="td-team">
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td>
                                        <td>
                                            <span class="badge success">Success</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Logo Design</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td class="td-team">
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td>
                                        <td>
                                            <span class="badge warning">Processing</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Server setup</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td class="td-team">
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td>
                                        <td>
                                            <span class="badge success">Success</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Front-end Design</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td class="td-team">
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td>
                                        <td>
                                            <span class="badge warning">Processing</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Web Development</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td class="td-team">
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td>
                                        <td>
                                            <span class="badge success">Success</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="summary">
                        <div class="summary-card">
                            <div class="summary-single">
                                <span class="ti-id-badge"></span>
                                <div>
                                    <h5>196</h5>
                                    <small>Number of staff</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-calendar"></span>
                                <div>
                                    <h5>16</h5>
                                    <small>Number of leave</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-face-smile"></span>
                                <div>
                                    <h5>12</h5>
                                    <small>Profile update request</small>
                                </div>
                            </div>
                        </div>

                        <div class="bday-card">
                            <div class="bday-flex">
                                <div class="bday-img"></div>
                                <div class="bday-info">
                                    <h5>Dwayne F. Sanders</h5>
                                    <small>Birthday Today</small>
                                </div>
                            </div>

                            <div class="text-center">
                                <button>
                                    <span class="ti-gift"></span>
                                    Wish him
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

    </div>



</body>
</html>